<h2>口コミ一覧</h2>
<%= link_to "口コミを投稿する", new_shop_review_path %>


  <%= @reviews.each.do |review| %>
    <p>
      <%= attachment_image_tag review.member, :profile_image, fallback: "no_image.jpeg", size: '50x50'%>
      <%= review.member.name %>
    </p>
    <!-- 繰り返し処理を実行してもidを一意に保てるようにreview.idを埋め込む -->
    <div id="star-rate-<%= review.id %>"></div>
    <script>
      $('#star-rate-<%= review.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        // 読み取り専用（入力できない）
        readOnly: true
        // 星の入力値を読み込む
        score: <%= review.rate %>,
      });
    </script>  
    <p><%= review.rate %></p>
    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.created_at.strftime('%F') %>&nbsp;<%= review.created_at.strftime('%H:%M') %></p>
  <% end %>
