<h2>登録店舗一覧</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>店舗名</th>
      <th>ジャンル</th>
      <th>住所</th>
      <th>電話番号</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @shops.each do |shop| %>
    <tr>
      <td><%= link_to shop.name, admin_shop_path(shop) %></td>
      <td><%= shop.genre.name %></td>
      <td><%= shop.address %></td>
      <td><%= shop.phone_number %></td>
      <td><%= link_to "編集", edit_admin_shop_path(shop) %></td>
      <td><%= link_to "削除", admin_shop_path(shop), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>