<!-- members/edit・contacts/newのクラスを引用 -->
<h3 class="page-heading">Shop New</h3>
<div class="my-page-edit">
  <div class="edit-profile">
    <%= form_with model: @shop, url: admin_shops_path, local: true do |f| %>
    <%= render 'layouts/error_messages', model: @shop %>
      <table class="table">
        <tr>
          <td class="admin-shop-text"><%= f.label :"店舗名"%></td>
          <td><%= f.text_field :name, placeholder: "例）ブラウンカフェ", class: "edit-profile-form" %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"ジャンル" %></td>
          <td><%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "--選択してください--"} %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"メイン写真" %></td>
          <td><%= f.attachment_field :main_image %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"写真(3枚)" %></td>
          <td><%= f.attachment_field :shop_images_images, multiple: true %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"紹介・説明" %></td>
          <td><%= f.text_area :caption, class: "contacts-form" %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"住所" %></td>
          <td><%= f.text_field :address, placeholder: "例）東京都品川区1-1-1 品川ハイツ3階", class: "edit-profile-form" %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"最寄り駅" %></td>
          <td><%= f.text_field :nearest_station, placeholder: "例）JR品川駅 徒歩5分", class: "edit-profile-form" %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"電話番号" %></td>
          <td><%= f.text_field :phone_number, placeholder: "例）03-1234-5678", class: "edit-profile-form" %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"営業時間" %></td>
          <td><%= f.text_field :business_hours, placeholder: "例）11:00〜20:00", class: "edit-profile-form" %></td>
        </tr>
        <tr>
          <td class="admin-shop-text"><%= f.label :"定休日" %></td>
          <td><%= f.text_field :regular_holiday, placeholder: "例）毎週木曜日", class: "edit-profile-form" %></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: left;"><%= f.submit '店舗情報登録', class: "edit-profile-btn" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>