

<h3 class="page-heading">Genre Edit</h3>
<!-- 登録ジャンル一覧表示 -->
<!-- members/shopのクラス引用 -->
<div class="shop-container">
  <!-- 編集欄 -->
  <div class="edit-genre">
    <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local: true do |f| %>
    <%= render 'layouts/error_messages', model: @genre %>
      <% f.label :"ジャンル名"%>
      <%= f.text_field :name, class: "genre-form" %>
      <%= f.submit '変更', class: "genre-btn" %>
    <% end %>
  </div>
　<table class="table">
    <tr>
      <th>ジャンル名</th>
      <th>登録件数</th>
    </tr>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <!-- member/withdrawalのボタンを引用 -->
      <td>
        <%= link_to "編集", edit_admin_genre_path(genre), class: "no-withdrawal-btn" %>
        <%= link_to "削除", admin_genre_path(genre), method: :delete, data: { confilm: "本当に削除しますか" }, class: "withdrawal-btn" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>