<div class="top-image"></div>

<div class="concept">
  <div class"box">
    <p>
      素敵なスイーツに巡り合えるように<br>
      スイーツ好きな人同士の素敵な巡り合いがあるように
    </p>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <% f.label :name_or_address_or_nearest_station %>
  <%= f.search_field :name_or_address_or_nearest_station_cont, placeholder: "店舗名・住所・駅名" %>
　<%= f.submit '検索' %>
 <% end %>

<h4>ジャンル検索</h4>
<div class="genre-search">
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_cake_path, class: "search-title" do %>
        <%= image_tag "genre-cake.jpg", size: '180x180' %>
        <p class="genre-name">ケーキ</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_macaron_path, class: "search-title" do %>
      　<%= image_tag "genre-macaron.jpg", size: '180x180' %>
      　<p class="genre-name">マカロン</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_chocolate_path, class: "search-title" do %>
      　<%= image_tag "genre-chocolate.jpg", size: '180x180' %>
      　<p class="genre-name">チョコレート</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_parfait_path, class: "search-title" do %>
      　<%= image_tag "genre-parfait.jpg", size: '180x180' %>
      　<p class="genre-name">パフェ</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_cafe_path, class: "search-title" do %>
      　<%= image_tag "genre-cafe.jpg", size: '180x180' %>
      　<p class="genre-name">カフェ</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_shaved_ice_path, class: "search-title" do %>
      　<%= image_tag "genre-cake1.jpg", size: '180x180' %>
      　<p class="genre-name">かき氷</p>
      <% end %>
    </div>
  </div>
</div>