<div class="top-image"></div>

<div class="concept">
  <div class"box">
    <p>
      素敵なスイーツに巡り合えるように<br>
      スイーツ好きな人同士の素敵な巡り合いがあるように
    </p>
  </div>
</div>

<div class="genre-search">
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_cake_path, class: "search-title" do %>
        <%= image_tag "genre-cake.jpg", size: '180x180' %>
        <p class="genre-name">ケーキ</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_macaron_path, class: "search-title" do %>
      　<%= image_tag "genre-macaron.jpg", size: '180x180' %>
      　<p class="genre-name">マカロン</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_chocolate_path, class: "search-title" do %>
      　<%= image_tag "genre-chocolate.jpg", size: '180x180' %>
      　<p class="genre-name">チョコレート</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_parfait_path, class: "search-title" do %>
      　<%= image_tag "genre-parfait.jpg", size: '180x180' %>
      　<p class="genre-name">パフェ</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_cafe_path, class: "search-title" do %>
      　<%= image_tag "genre-cafe.jpg", size: '180x180' %>
      　<p class="genre-name">カフェ</p>
      <% end %>
    </div>
  </div>
  <div class="box">
    <div class="genre-image">
      <%= link_to  genres_shaved_ice_path, class: "search-title" do %>
      　<%= image_tag "genre-cake1.jpg", size: '180x180' %>
      　<p class="genre-name">かき氷</p>
      <% end %>
    </div>
  </div>
</div>


<!--    <p class="search-title"></p>-->
<!--  </div>-->
<!--  <div class="box">-->
<!--    <p class="search-title">パフェ</p>-->
<!--  </div>-->
<!--    <div class="box">-->
<!--    <p class="search-title">カフェ</p>-->
<!--  </div>-->
<!--    <div class="box">-->
<!--    <p class="search-title">かき氷</p>-->
<!--  </div>-->
<!--  <div class="box">-->
<!--    <p class="search-title">その他</p>-->
<!--  </div>-->
<!--</div>-->