<div class="tweet-container">
  <div class="main-content">
    <% tweets.each do |tweet| %>
    <div class="tweet-box">
      <div class="tweet-image-box">
        <%= link_to tweet_path(tweet) do %>
          <%= attachment_image_tag tweet, :image, class: "tweet-image" %>
        <% end %>
      </div>
      <div class="tweet-top">
        <% tweet.tags.each do |tag| %>
          <span class="label"><%= tag.name %></span>
        <% end %><br>
        <%= tweet.title %>
      </div>
      <div class="tweet-bottom">
        <div class="member-info">
          <%= attachment_image_tag tweet.member, :profile_image, fallback: "no_image.jpeg", class: "tweet-profile-image" %>
          <%= link_to "#{tweet.member.name}", member_path(tweet.member), class: "member-name" %>&nbsp;
        </div>
        <span id="likes_btn_<%= tweet.id %>">
          <%= render partial: 'member/tweet_likes/tweet_like', locals: {tweet: tweet} %>
        </span>
        <%= link_to tweet_path(tweet) do %>
          <i class="far fa-comment"></i>&nbsp;<%= tweet.tweet_comments.count %>
        <% end %>
      </div>
      <div class="tweet-date">
        <%= tweet.created_at.strftime('%F') %>&nbsp;
        <%= tweet.created_at.strftime('%H:%M') %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="tweet-container">
  <div class="paginate-box">
    <%= paginate tweets %>
  </div>
</div>