<h2>タイムライン</h2>
<% @tweets.each do |tweet| %>
  <table>
    <tr>
      <td>
        <%= attachment_image_tag tweet.member, :profile_image, fallback: "no_image.jpeg", size: '20x20', format: 'jpeg' %>
        <%= link_to "#{tweet.member.name}", member_path(tweet.member) %>
      </td>
    <tr>
      <td>タイトル</td>
      <td><%= tweet.title %></td>
    </tr>
    <tr>
      <td>内容</td>
      <td><%= tweet.content %></td>
    </tr>
    <tr>
      <td><%= attachment_image_tag tweet, :image, size: '100x100', format: 'jpeg' %></td>
    </tr>
    <tr>
      <td>
        <div id="likes_btn_<%= tweet.id %>">
          <%= render partial: 'member/tweet_likes/tweet_like', locals: {tweet: tweet} %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
<%= paginate @tweets %>