<h2>タイムライン</h2>
<% @tweets.each do |tweet| %>
  <table>
    <tr>
      <td>
        <%= attachment_image_tag tweet.member, :profile_image, fallback: "no_image.jpeg", size: '20x20', format: 'jpeg' %>
        <%= link_to "#{tweet.member.name}", member_path(tweet.member) %>
      </td>

    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= tweet.title %></td>
    </tr>
    <tr>
      <td>内容</td>
      <td><%= tweet.content %></td>
    </tr>
    <tr>
      <td><%= attachment_image_tag tweet, :image, size: '100x100', format: 'jpeg' %></td>
    </tr>
    <tr>
      <td>
        <% if member_signed_in? %>
          <% if tweet.tweet_liked_by?(current_member) %>
            <%= link_to tweet_tweet_likes_path(tweet), method: :delete do %>
              <i class="fas fa-apple-alt" style="color: #ea5550;"></i>
              <%= tweet.tweet_likes.count %>
            <% end %>
          <% else %>
            <%= link_to tweet_tweet_likes_path(tweet), method: :post do %>
              <i class="fas fa-apple-alt" style="color: #4e454a;"></i>
          <%= tweet.tweet_likes.count %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
<%= paginate @tweets %>