<%= render partial: 'member/members/profile', locals: { member: @member } %>
<h3 class="page-heading">Tweet Comment</h3>

  <div class="show-tweet-content">
    <div class="show-tweet-box">
      <div class="show-tweet-left">
        <%= attachment_image_tag @tweet, :image, size: '280x210' %>
        <div class="show-tweet-bottom">
          <%= @tweet.created_at.strftime('%F') %>&nbsp;<%= @tweet.created_at.strftime('%H:%M') %>&nbsp;
          <span id="likes_btn_<%= @tweet.id %>">
          <%= render partial: 'member/tweet_likes/tweet_like', locals: {tweet: @tweet} %>&nbsp;
          </span>
          <%= link_to tweet_path(@tweet) do %>
            <i class="far fa-comment"></i>
          <% end %>
          <%= @tweet.tweet_comments.count %>
          <% if @tweet.member == current_member %>
            <%= link_to "削除", tweet_path(@tweet), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          <% end %>
        </div>
      </div>
      <div class="show-tweet-center">
        <div class="show-tweet">
          <%= attachment_image_tag @tweet.member, :profile_image, fallback: "no_image.jpeg", size: '30x30', class: "profile-image" %>
          <%= @tweet.member.name %>
        </div>
        <div class="show-tweet-title">
          <%= @tweet.title %><br>
          <%= @tweet.content %>
        </div>
      </div>
      
      <div class="show-tweet-right">
        <div class="new-comment">
          <%= form_with(model:[@tweet, @tweet_comment], local: true) do |f| %>
          <%= f.text_field :comment %>
          <%= f.submit '送信' %>
          <% end %>
        </div>
        <% @tweet.tweet_comments.each do |tweet_comment| %>
        <div class="comments">
            <%= attachment_image_tag tweet_comment.member, :profile_image, fallback: "no_image.jpeg", size: '20x20'%>
            <%= tweet_comment.member.name %>
            <%= tweet_comment.comment %>
          <%= tweet_comment.created_at.strftime('%F') %>&nbsp;<%= tweet_comment.created_at.strftime('%H:%M') %>
  
            <% if tweet_comment.member == current_member %>
              <%= link_to "削除", tweet_tweet_comment_path(tweet_comment.tweet, tweet_comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
            <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


