<% @shops.each do |shop| %>
<div class="shop-container">
  <div class="shop-name">
    <span id="bookmarks_btn_<%= shop.id %>">
      <%= render partial: 'member/bookmarks/bookmark', locals: {shop: shop} %>
    </span>
    <%= link_to shop.name, shop_path(shop) %>
    <p class="shop-text">/&emsp;<%= shop.genre.name %></p>
  </div>
  <div class="shop-box">
    <div class="shop-image-box">
      <%= attachment_image_tag shop, :main_image, size: '240x180', class: "shop-image" %>
    </div>
    <div class="shop-main">
      <p>最寄り駅&emsp;<%= shop.nearest_station %></p>
      <p><%= shop.caption %></p>
      <ul class="review-list">
        <!-- 繰り返し処理を実行してもidを一意に保てるようにreview.idを埋め込む -->
        <li><div id="star-rate-<%= shop.id %>"></div></li>
        <li class="review-list-item"><%= shop.reviews.average(:rate).to_i.round(1) %>&emsp;</li>
        <li>
          <%= link_to shop_reviews_path(shop) do %>
          <i class="far fa-comment-dots">&nbsp;<%= shop.reviews.count %>件</i>
        　<% end %>
        </li>
        <%= render partial: 'member/reviews/star_average', locals: { shop: shop } %>
      </ul>
      <!-- レビュー最新の１件のみ表示 -->
      <div class="new-review">
        <% unless shop.reviews.blank? %>
          <% last_reviews = Review.where(shop_id: shop.id).order(created_at: :desc).limit(1) %>
          <% last_reviews.each do |review| %>
            <div class="new-review-left">
              <%= attachment_image_tag review.member, :profile_image, fallback: "no_image.jpeg", size: "30x30", class: "profile-image" %><br>
            　<%= link_to review.member.name, member_path(review.member), class: "review-name" %>
            </div>
            <div class="new-review-right">
              <span class="review-title"><%= review.title %><br></span>
              <span class="review-content"><%= review.content %><br></span>
            </div>
          <% end %>
        <% else %>
          <p class="no-review">まだ口コミ投稿はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr class="border">
<% end %>
