<h2>検索結果一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>店舗名</th>
      <th>ジャンル</th>
      <th>住所</th>
      <th>電話番号</th>
    </tr>
  </thead>
  <tbody>
  <% @shops.each do |shop| %>
    <tr>
      <td>
        <span id="bookmarks_btn_<%= shop.id %>">
          <%= render partial: 'member/bookmarks/bookmark', locals: {shop: shop} %>
        </span>
      </td>
      <td>
        <%= link_to shop.name, shop_path(shop) %>
      </td>
      <td>
        <!-- 繰り返し処理を実行してもidを一意に保てるようにreview.idを埋め込む -->
        <div id="star-rate-<%= shop.id %>"></div>
        評価：<%= shop.reviews.average(:rate).to_i.round(1) %>点&emsp;
        口コミ<%= link_to shop.reviews.count, shop_reviews_path(shop) %>件
        <%= render partial: 'member/reviews/star_average', locals: { shop: shop } %>
      </td>
      <td><%= shop.genre.name %></td>
      <td><%= shop.address %></td>
      <td><%= shop.phone_number %></td>
    </tr>
  <% end %>
  </tbody>
</table>