<!-- 会員詳細画面のクラス共有 -->
<h3 class="page-heading">Profile</h3>
<div class="my-page">
  <div class="my-page-left">
    <div class="profile-image">
      <%= attachment_image_tag member, :profile_image, fallback: "no_image.jpeg", class: "my-profile-image" %>
      <div class="follow">
      　<span class="follow-link"><%= member.followings.count %><%= link_to "フォロー", follows_member_path(member), class: "follow-link-btn" %></span>&emsp;
        <span class="follow-link"><%= member.followers.count %><%= link_to "フォロワー", followers_member_path(member), class: "follow-link-btn" %></span>
      </div>
      <div class="follow-btn">
        <% unless member == current_member %>
          <% if member.followed_by?(current_member) %>
            <span class="follow-link"><%= link_to "フォロー済み", member_relationships_path(member), method: :delete, class: "follow-link-btn" %></span>
          <% else %>
            </span><%= link_to "フォローする", member_relationships_path(member), method: :post, class: "follow-link-btn" %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="my-page-right">
    <div class="profile-title">ニックネーム</div>
    <div class="profile-text"><%= member.name %></div>
    <div class="profile-title">自己紹介</div>
    <div class="profile-text"><%= member.introduction %></div>
    <div class="icon">
      <% if @member == current_member %>
      　<!-- 編集リンク・アイコン付き -->
      　<%= link_to edit_member_path(member) do %>
      　   <i class="fas fa-wrench" ><span class="icon-text">編集</span></i>
        <% end %>
      　<!-- つぶやきリンク・アイコン付き -->
        <%= link_to new_tweet_path do %>
          <i class="fas fa-comment"><span class="icon-text">つぶやく</span></i>
      　<% end %>
      <% end %>
      <!-- ブックマーク一覧・アイコン付き -->
      <%= link_to bookmarks_path(member) do %>
        <i class="fas fa-bookmark"><span class="icon-text">ブックマーク</span></i>&emsp;
      <% end %>
      <!-- お気に入り一覧・アイコン付き -->
      <%= link_to tweet_likes_path(member) do %>
        <i class="fas fa-apple-alt"><span class="icon-text">お気に入り</span></i>
      <% end %>
    </div>
  </div>
</div>