<!-- members/edit・contacts/newのクラスを引用 -->
<h3 class="page-heading">Profile</h3>
<div class="my-page-edit">
  <div class="edit-profile">
    <%= form_with model: @member, url: member_path(@member), method: :patch, local: true do |f| %>
    <%= render 'layouts/error_messages', model: @member %>
      <%= f.label :"プロフィール画像" %><br>
      <p><%= f.attachment_field :profile_image %></p>
      <%= f.label :"名前" %><br>
      <p><%= f.text_field :name, class: "edit-profile-form" %></p>
      <%= f.label :"紹介文", class: "contacts-form" %><br>
      <%= f.text_area :introduction %><br>
      <%= f.hidden_field :email, value: @member.email %>
      <%= f.submit '変更', class: "edit-profile-btn" %>
    <% end %>
    <span class="next-withdrawal">
      <%= link_to "※退会をご希望の方はこちらへ", unsubscribe_path(@member), data: { confilm: "本当に退会しますか？" }, class: "next-withdrawal-btn" %>
    </span>
  </div>
</div>